<?php

define("BACKUP_FOLDER", "{{ getenv "MYWEBSQL_BACKUPS_DIR" }}");
define("BACKUP_FILENAME_FORMAT", "{{ getenv "MYWEBSQL_BACKUP_FILENAME_FORMAT" }}");
define("BACKUP_DATE_FORMAT", "{{ getenv "MYWEBSQL_BACKUP_DATE_FORMAT" }}");
