<?php

define("BACKUP_FOLDER", BASE_PATH . "/backups/");
define("BACKUP_FILENAME_FORMAT", "{{ envString "BACKUP_FILENAME_FORMAT" }}");
define("BACKUP_DATE_FORMAT", "{{ envString "BACKUP_DATE_FORMAT" }}");
