<?php

define("TRACE_MESSAGES", {{ envString "TRACE_MESSAGES" }});
define("TRACE_FILEPATH", "{{ envString "TRACE_FILEPATH" }}");
define("LOG_MESSAGES", {{ envString "LOG_MESSAGES" }});
define("MAX_RECORD_TO_DISPLAY", {{ envString "MAX_RECORD_TO_DISPLAY" }});
define("MAX_TEXT_LENGTH_DISPLAY", {{ envString "MAX_TEXT_LENGTH_DISPLAY" }});
define("HOTKEYS_ENABLED", {{ envString "HOTKEYS_ENABLED" }});
define("DEFAULT_EDITOR", "{{ envString "DEFAULT_EDITOR" }}");
define("DEFAULT_THEME", "{{ envString "DEFAULT_THEME" }}");
define("DEFAULT_LANGUAGE", "{{ envString "DEFAULT_LANGUAGE" }}");
