<?php

$ALLOW_CUSTOM_SERVERS = {{ envString "ALLOW_CUSTOM_SERVERS" }};
$ALLOW_CUSTOM_SERVER_TYPES = "{{ envString "ALLOW_CUSTOM_SERVER_TYPES" }}";

$SERVER_LIST = array(
  {{ range $index, $server := (split (envString "SERVER_LIST") ",") }}
  	{{ $values := (split $server ":") }}
  	"{{ index $values 1 }}" => array(
  		"host" => "{{ index $values 1 }}",
  		"driver" => "{{ index $values 0 }}"
  	),
  {{ end }}
);
