<?php

define("TRACE_MESSAGES", {{ getenv "MYWEBSQL_TRACE_MESSAGES" }});
define("TRACE_FILEPATH", "{{ getenv "MYWEBSQL_TRACE_FILEPATH" }}");
define("LOG_MESSAGES", {{ getenv "MYWEBSQL_LOG_MESSAGES" }});
define("MAX_RECORD_TO_DISPLAY", {{ getenv "MYWEBSQL_MAX_RECORD_TO_DISPLAY" }});
define("MAX_TEXT_LENGTH_DISPLAY", {{ getenv "MYWEBSQL_MAX_TEXT_LENGTH_DISPLAY" }});
define("HOTKEYS_ENABLED", {{ getenv "MYWEBSQL_HOTKEYS_ENABLED" }});
define("DEFAULT_EDITOR", "{{ getenv "MYWEBSQL_DEFAULT_EDITOR" }}");
define("DEFAULT_THEME", "{{ getenv "MYWEBSQL_DEFAULT_THEME" }}");
define("DEFAULT_LANGUAGE", "{{ getenv "MYWEBSQL_DEFAULT_LANGUAGE" }}");
